head
  meta(charset="UTF-8")
  title= meta[page]['title']
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(name="description" content=meta[page]['description'])
  meta(name="keywords" content=meta[page]['keywords'])

  // OG
  meta(property="og:title" content=meta[page]['title'])
  meta(property="og:description" content=meta[page]['description'])
  meta(property="og:image" content=meta[page]['image'])
  meta(property="og:url" content=meta[page]['url'])
  meta(property="og:type" content="website")

  // Twitter Card
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:title" content=meta[page]['title'])
  meta(name="twitter:description" content=meta[page]['description'])
  meta(name="twitter:image" content=meta[page]['image'])

  // アイコン
  link(rel="shortcut icon", href="favicon.ico")
  link(rel="apple-touch-icon" href="path/to/icon.png")

  if PATH_TYPE === 'main'
    link(rel="stylesheet" href=`./assets/css/index.css?=${timestamp}`)
    script(src=`./assets/js/index.js?=${timestamp}` type="module" defer="defer")
  else if PATH_TYPE === 'sub'
    link(rel="stylesheet" href=`../assets/css/index.css?=${timestamp}`)
    script(src=`../assets/js/index.js?=${timestamp}` type="module" defer="defer")
    